* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  display: flex;
}

.index h5 {
  margin: 1em;
  background-color: crimson;
}

.train {
  display: flex;
}

.train p {
  margin: 1em;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination li {
  padding: 1em;
}

.pagination li a {
  color: cornflowerblue;
  font-size: 1.5em;
  text-decoration: none;
}

.trains .codice_treno,
.trains .numero_carrozze,
.trains .ix,
.trains .orario_partenza,
.trains .orario_arrivo {
  width: 100px;
}

.trains h5 {
  width: 200px;
  margin: 0.2em;
  background-color: crimson;
}

.trains .index {
  display: flex;
}

.train {
  display: flex;
}

.train .code_train,
.train .number_carriages,
.train .x,
.train .arrivals_time,
.train .departures_time {
  width: 100px;
}

.train p {
  width: 200px;
  background-color: aquamarine;
  margin: 0.2em;
  text-transform: uppercase;
}

