.trains {
    .codice_treno,
    .numero_carrozze,
    .ix,
    .orario_partenza,
    .orario_arrivo {
        width: 100px;
    }
    h5 {
        width: 200px;
        margin: 0.2em;
        background-color: crimson;
    }
    .index {
        display: flex;
    }
}
.train {
    display: flex;
    .code_train,
    .number_carriages,
    .x,
    .arrivals_time,
    .departures_time {
        width: 100px;
    }
    p {
        width: 200px;
        background-color: aquamarine;
        margin: 0.2em;
        text-transform: uppercase;
    }
}
